<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="erpseminario.database.windows.net_ERPSeminario_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=erpseminario.database.windows.net;user id=adminseminario;password=S@dseminario;initial catalog=ERPSeminario;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>